<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

<div style="visibility:hidden;">
  <p id="info">{{.}}</p>
</div>

<body>
  <img src="/view/pic/error.jpg"
    style="background-color: greenyellow;border: honeydew 2px solid ; box-shadow:lightskyblue 0px 0px 6px; height:70% ; width:70%;margin: auto;position: absolute;top:0;left:0;bottom:0;right:0;">
  </img>
</body>


<script>
  new Vue({
    data() {},
    created() {
      this.$message(document.getElementById("info").textContent)
    },
  })
</script>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(/view/pic/error.jpg?refresh) no-repeat;
    background-position: center;
    background-size: cover;
  }
</style>