<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="shortcut icon" href="/view/pic/favicon.ico" type="image/x-icon">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>

<body>
  <div id="app" style="height: 100%;">
    <el-dialog :visible.sync="dialog_visible" title="定时任务单">
      <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="课程名称">
          <el-input v-model="form.name" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="开课校园">
          <el-input v-model="form.region" :disabled="true" width=10px></el-input>
        </el-form-item>
        <!-- <el-divider></el-divider> -->
        <el-form-item label="任务持续时间">
          <el-select v-model="form.dur" placeholder="请选择持续时间">
            <el-option label="6s" value="0.1"></el-option>
            <el-option label="1min" value="1"></el-option>
            <el-option label="10min" value="10"></el-option>
            <el-option label="30min" value="30"></el-option>
            <el-option label="1h" value="60"></el-option>
            <el-option label="2h" value="120"></el-option>
            <el-option label="5h" value="300"></el-option>
            <el-option label="10h" value="600"></el-option>
            <el-option label="24h" value="1440"></el-option>
            <el-option label="No Limit" value="999999"></el-option>
          </el-select>
        </el-form-item>
        <!-- <el-divider></el-divider> -->
        <el-form-item label="抢课频率">
          <el-select v-model="form.freq" placeholder="请选择抢课频率">
            <el-option label="0s(代表无睡眠时间,急速抢课)" value="0"></el-option>
            <el-option label="0.1s" value="0.1"></el-option>
            <el-option label="0.5s" value="0.5"></el-option>
            <el-option label="1s" value="1"></el-option>
            <el-option label="2s" value="2"></el-option>
            <el-option label="5s" value="5"></el-option>
            <el-option label="10s" value="10"></el-option>
            <el-option label="15s" value="15"></el-option>
            <el-option label="30s" value="30"></el-option>
            <el-option label="1min" value="60"></el-option>
            <el-option label="5min" value="300"></el-option>
            <el-option label="10min" value="600"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="beginTimeTask">开始任务</el-button>
          <el-button @click="dialog_visible = false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <el-dialog :visible.sync="bigImgVisible" title="TeacherImg">
      <el-image :src="bigImgSrc" style="height: 500px;width: 400px;"></el-image>
    </el-dialog>

    <el-container style=" height: 100%; ">
      <el-header style="margin-bottom: 1px;">
        <h1><a @click="clickIndex" href="javascript:void(0);"><img src=""></img></a>
        </h1>
        <el-divider></el-divider>
      </el-header>
      <el-main style="position: relative;">
        <template>
          <el-tabs v-model="activeName" @tab-click="" tab-position="left" style="width: 100%; height:90%; 
            position: absolute; right: 0;margin-top: 20px; padding-bottom: 2px; ">
            <el-tab-pane label="用户管理" name="first">User: {{ userName }} , {{ userId}} , {{ departmentName }} |
              专业:{{major}}</el-tab-pane>
            <el-tab-pane class="test" label="课程列表-专选" name="second"
              style="height: 100%;overflow: auto ;padding-right: 1%">
              <template>
                <el-backtop target=".test" right="120">UP</el-backtop>
                <el-table @cell-mouse-enter="handleHover"
                  :data="tableData1.filter(data => !search || data.courseName.toLowerCase().includes(search.toLowerCase()))"
                  style="width: 100%">
                  <el-table-column label="CourseNum" prop="courseNum">
                  </el-table-column>
                  <el-table-column label="CourseName" prop="courseName">
                  </el-table-column>
                  <el-table-column label="TeacherName">
                    <template slot-scope="scope">
                      <el-popover trigger="hover" placement="top">
                        <p>课程负责人: {{scope.row.bossName}} </p>
                        <p>Email:{{scope.row.email}}</p>
                        <p>Age: {{scope.row.age}} </p>
                        <p>bestDegreeName: {{scope.row.bestDegreeName}} </p>
                        <div slot="reference" class="name-wrapper">
                          <el-tag>
                            {{scope.row.teachingTimePlace.split(";")[0]}}</el-tag>
                        </div>
                      </el-popover>
                    </template>
                  </el-table-column>
                  <el-table-column label="Time" width="300px">
                    <template slot-scope="scope">
                      <el-popover trigger="hover" placement="top">
                        <p v-for="it in scope.row.teachingTimePlace.split(',')" style="font-size: 15px;">{{it}}</p>
                        <div slot="reference" class="name-wrapper">
                          <p v-for="it in scope.row.teachingTimePlace.split(',')" style="font-size: 1px;">
                            {{it}}</p>
                        </div>
                      </el-popover>
                    </template>
                  </el-table-column>
                  <el-table-column label="Credit" prop="credit">
                  </el-table-column>
                  <el-table-column label="CourseUnitName" prop="courseUnitName">
                  </el-table-column>
                  <!-- <el-table-column label="ExamFormName" prop="examFormName">
                  </el-table-column> -->
                  <el-table-column label="ScheduleExamTime" prop="scheduleExamTime">
                  </el-table-column>
                  <el-table-column label="Capacity" prop="capacity">
                    <template slot-scope="scope">
                      <el-tag :type="scope.row.courseSelectedNum == scope.row.baseReceiveNum ? 'danger':'success'">
                        {{scope.row.courseSelectedNum}}/{{scope.row.baseReceiveNum}}</el-tag>
                    </template>
                  </el-table-column>
                  <el-table-column label="img">
                    <template slot-scope="scope">
                      <el-image size="mini" :src="scope.row.imgSrc" style="width: 50px; height: 60px;cursor:pointer"
                        @click="showBigImg(scope.$index, scope.row)">
                      </el-image>
                    </template>
                  </el-table-column>
                  <el-table-column align="right">
                    <template slot="header" slot-scope="scope">
                      <el-input v-model="search1" size="mini" placeholder="输入关键字搜索" />
                    </template>
                    <template slot-scope="scope">
                      <el-button size="small" type="danger" :loading="scope.row.isButtonLoading"
                        v-if="scope.row.selectedStatus == '4' " @click="cancelCourse(scope.$index, scope.row,'major')">
                        退课
                      </el-button>
                      <el-button size="small" :loading="scope.row.isButtonLoading"
                        :type="scope.row.courseSelectedNum == scope.row.baseReceiveNum ? 'info' : 'success'"
                        :disabled="scope.row.courseSelectedNum == scope.row.baseReceiveNum ? true:false"
                        @click="chooseCourse(scope.$index, scope.row , 'public')" v-else>选课
                      </el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </template>
            </el-tab-pane>
            <el-tab-pane class="test" label="课程列表-公选" name="third"
              style="height: 100%;overflow: auto ;padding-right: 3%;">
              <template>
                <el-backtop target=".test" right="120">UP</el-backtop>
                <el-table @cell-mouse-enter="handleHover"
                  :data="tableData2.filter(data => !search || data.courseName.toLowerCase().includes(search.toLowerCase()))"
                  style="width: 100%">
                  <el-table-column label="CourseNum" prop="courseNum">
                  </el-table-column>
                  <el-table-column label="CourseName" prop="courseName">
                  </el-table-column>
                  <el-table-column label="TeacherName">
                    <template slot-scope="scope">
                      <el-popover trigger="hover" placement="top">
                        <p>课程负责人: {{scope.row.bossName}} </p>
                        <p>Email:{{scope.row.email}}</p>
                        <p>Age: {{scope.row.age}} </p>
                        <p>bestDegreeName: {{scope.row.bestDegreeName}} </p>
                        <div slot="reference" class="name-wrapper">
                          <el-tag>
                            {{scope.row.teachingTimePlace.split(";")[0]}}</el-tag>
                        </div>
                      </el-popover>
                    </template>
                  </el-table-column>
                  <el-table-column label="Time" width="300px">
                    <template slot-scope="scope">
                      <el-popover trigger="hover" placement="top">
                        <p v-for="it in scope.row.teachingTimePlace.split(',')" style="font-size: 15px;">{{it}}</p>
                        <div slot="reference" class="name-wrapper">
                          <p v-for="it in scope.row.teachingTimePlace.split(',')" style="font-size: 1px;">
                            {{it}}</p>
                        </div>
                      </el-popover>
                    </template>
                  </el-table-column>
                  <el-table-column label="Credit" prop="credit">
                  </el-table-column>
                  <el-table-column label="CourseUnitName" prop="courseUnitName">
                  </el-table-column>
                  <!-- <el-table-column label="ExamFormName" prop="examFormName">
                  </el-table-column> -->
                  <el-table-column label="ScheduleExamTime" prop="scheduleExamTime">
                  </el-table-column>
                  <el-table-column label="Capacity" prop="capacity">
                    <template slot-scope="scope">
                      <el-tag :type="scope.row.courseSelectedNum == scope.row.baseReceiveNum ? 'danger':'success'">
                        {{scope.row.courseSelectedNum}}/{{scope.row.baseReceiveNum}}</el-tag>
                    </template>
                  </el-table-column>
                  <el-table-column label="img">
                    <template slot-scope="scope">
                      <el-image size="mini" :src="scope.row.imgSrc" style="width: 50px; height: 60px;cursor:pointer"
                        @click="showBigImg(scope.$index, scope.row)">
                      </el-image>
                    </template>
                  </el-table-column>
                  <el-table-column align="right">
                    <template slot="header" slot-scope="scope">
                      <el-input v-model="search2" size="mini" placeholder="输入关键字搜索" />
                    </template>
                    <template slot-scope="scope">
                      <el-button size="small" type="danger" :loading="scope.row.isButtonLoading"
                        v-if="scope.row.selectedStatus == '4' " @click="cancelCourse(scope.$index, scope.row,'public')">
                        退课
                      </el-button>
                      <el-button size="small" :loading="scope.row.isButtonLoading"
                        :type="scope.row.courseSelectedNum == scope.row.baseReceiveNum ? 'info' : 'success'"
                        :disabled="scope.row.courseSelectedNum == scope.row.baseReceiveNum ? true:false"
                        @click="chooseCourse(scope.$index, scope.row , 'public')" v-else>选课
                      </el-button>
                      <el-button size="small" :disabled="scope.row.collectionStatus == '1' ? true:false"
                        @click="addTimeTask(scope.$index, scope.row , 'public')">加入定时任务</el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </template>
            </el-tab-pane>

            <el-tab-pane label="定时任务" name="fourth" style="padding-right: 3%;">
              <template>
                <el-backtop target=".test" right="120">UP</el-backtop>
                <el-table
                  :data="tableDataTimeTask.filter(data => !search || data.courseName.toLowerCase().includes(search.toLowerCase()))"
                  style="width: 100%">
                  <el-table-column label="CourseNum" prop="courseNum">
                  </el-table-column>
                  <el-table-column label="CourseName" prop="courseName">
                  </el-table-column>
                  <el-table-column label="TeacherName">
                    <template slot-scope="scope">
                      {{scope.row.teachingTimePlace.split(',')[0]}}
                    </template>
                  </el-table-column>
                  <el-table-column label="Credit" prop="credit">
                  </el-table-column>
                  <el-table-column label="CourseUnitName" prop="courseUnitName">
                  </el-table-column>
                  <el-table-column label="Capacity" prop="capacity">
                    <template slot-scope="scope">
                      <el-tag :type="scope.row.courseSelectedNum == scope.row.baseReceiveNum ? 'danger':'success'">
                        {{scope.row.courseSelectedNum}}/{{scope.row.baseReceiveNum}}</el-tag>
                    </template>
                  </el-table-column>
                  <el-table-column label="任务状态" prop="timeTaskState">
                  </el-table-column>
                  <el-table-column label="运行时间" prop="timeElapsed">
                  </el-table-column>
                  <el-table-column label="剩余时间" prop="timeLeft">
                  </el-table-column>
                  <el-table-column label="日志" prop="log" width="150px">
                    <template slot-scope="scope">
                      <p v-for="it in scope.row.log.split(';')">{{it}}</p>
                    </template>
                  </el-table-column>
                  <el-table-column align="right">
                    <template slot="header" slot-scope="scope">
                      <el-input v-model="searchTimeTask" size="mini" placeholder="输入关键字搜索" />
                    </template>
                    <template slot-scope="scope">
                      <el-button size="small" type="success" v-if="scope.row.timeTaskState == '未开始'?true:false"
                        @click="pullTaskForm(scope.$index, scope.row)">
                        开始定时任务
                      </el-button>
                      <el-button size="small" type="danger" :disabled="scope.row.istaskFinished"
                        @click="deleteTimeTask(scope.$index, scope.row)" v-else>
                        {{scope.row.istaskFinished ? "定时任务完成":"结束定时任务"}}
                      </el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </template>

            </el-tab-pane>
          </el-tabs>
        </template>
      </el-main>
    </el-container>
  </div>
</body>

</html>

<script>
  new Vue({
    el: "#app",
    data: function () {
      return {
        userName: "Not Login",
        userId: "Not Login",
        departmentName: "Not Login",
        token: "Not Login",
        activeName: 'first',
        dialog_visible: false,
        bigImgVisible: false,
        bigImgSrc: "",
        form: {
          name: 'fdsa',
          region: 'fdas',
          time1: 'Now',
          time2: '',
          no_time_limit: false,
          type: [],
          resource: '',
          desc: ''
        },

        tableData1: [],
        tableData2: [],
        tableDataTimeTask: [{
          "mainClassesID": "1201395320145297408",
          "teachingClassId": "1201396087224778753",
          "teachingClassNum": "201920816",
          "teachingClassName": null,
          "courseNum": "DCS222",
          "courseName": "测试用例",
          "credit": 3.0,
          "examFormName": "考试",
          "timeTaskState": "未开始",
          "courseUnitNum": "67000",
          "courseUnitName": "123",
          "teachingTeacherNum": "",
          "teachingTeacherName": "",
          "baseReceiveNum": 60,
          "addReceiveNum": 0,
          "teachingTimePlace": "432",
          "studyCampusId": "5063559",
          "week": "",
          "classTimes": "",
          "courseSelectedNum": "60",
          "filterSelectedNum": "0",
          "selectedStatus": "1",
          "collectionStatus": "0",
          "teachingLanguageCode": "01",
          "pubCourseTypeCode": null,
          "courseCateCode": "21",
          "specialClassCode": null,
          "sportItemId": null,
          "recordMode": "01",
          "clazzNum": "201920816",
          "log": "null",
          "examFormCode": "1",
          "courseId": "206169477",
          "scheduleExamTime": "结课考试,考试,2020-06-22第5-7节;"
        }, ],
        search1: '',
        search2: '',
        searchTimeTask: '',
      }
    },
    created() {

    },
    watch: {
      'activeName': function (val) {
        if (val == "second") {
          this.getAndSetCourse("major")
        } else if (val == "third") {
          this.getAndSetCourse("public")
        }
      },
    },
    mounted() {
      this.getAndSetUserInfo()

      // moved to watch()
      // this.getAndSetCourse("public")
      // this.getAndSetCourse("major")

    },
    methods: {
      handleHover(row, column, cell, event) {
        // this.$message(row.index) // this is ok
        if (row.isLoad == true) return
        this.getTeacherInfo(row)
      },
      // getTeacherImg(index, row) {
      //   return "/teacherInfo/img?courseNum=" + row.courseNum
      // },
      getTeacherImgWithId(id) {
        return "/teacherInfo/img?id=" + id
      },
      showBigImg(index, row) {
        this.bigImgSrc = this.getTeacherImg(index, row)
        this.bigImgVisible = true
      },
      dialogEmpty() {
        return {
          name: 'fdsa',
          region: 'fdas',
          time1: 'Now',
          time2: '23:59:59',
          no_time_limit: false,
          type: [],
          resource: '',
          desc: ''
        }
      },
      getAndSetUserInfo() {
        this.$http.get("/userInfo").then(function (resp) {
          if (resp.body.state == "fail") {
            this.$message.error(resp.status.toString() + "\t未登录哦!")
            this.$notify({
              title: "1s后跳转"
            })
            setTimeout(() => {
              window.location.replace("/")
            }, 1000)
          }
          this.userName = resp.body.data.name
          this.userId = resp.body.data.id
          this.departmentName = resp.body.data.school
          this.major = resp.body.data.major
          this.$message({
            message: "欢迎你 " + resp.body.data.name,
            type: "success"
          })
        }).catch(function (e) {
          this.$message.error(e + " -_-")
        })
      },
      getCourseDetail(index, row) {
        return {
          name: row.courseName,
          region: 'null',
          time1: 'Now',
          time2: '23:59:59',
          no_time_limit: false,
          type: [],
          resource: '',
          desc: ''
        }
      },
      getTeacherEmail(index, row) {
        this.$http.get("/teacherInfo/email?courseNum=" + row.courseNum).then(function (resp) {
          if (resp.body.state == "success") {
            // console.log(resp.body.data)
            row.email = resp.body.data
            return resp.body.data
          } else {
            row.email = resp.body.msg
            return resp.body.msg
          }
        }).catch(function (e) {
          console.log("Get TeacherEmail:" + e.toString())
        })
      },
      getTeacherInfo(row) {
        row.isLoad = true
        var a = "加载中"
        this.$set(row, "email", a)
        this.$set(row, "age", a)
        this.$set(row, "bossName", a)
        this.$set(row, "bestDegreeName", a)
        this.$set(row, "id", a)
        this.$set(row, "imgSrc", "")
        //注意这个请求是异步的
        this.$http.get("/teacherInfo/all?courseNum=" + row.courseNum).then(function (resp) {
          if (resp.body.state == "success") {
            // console.log(resp.body.data)
            data = resp.body.data
            row.email = data.email
            row.age = data.birthDate
            row.bossName = data.name
            row.bestDegreeName = data.bestDegreeName
            row.id = data.id
            row.imgSrc = this.getTeacherImgWithId(row.id)
          } else {
            str = "不存在"
            row.email = str
            row.age = str
            row.bossName = str
            row.bestDegreeName = str
            row.id = data.str
          }
        }).catch(function (e) {
          console.log("Get TeacherInfo:" + e.toString())
        })
      },
      clickIndex() {
        const h = this.$createElement;

        this.$notify({
          title: 'HelloWorld',
          message: h('i', {
            style: 'color: teal'
          }, 'UnInplement')
        });
      },
      addTimeTask(index, row, type) {
        // TODO :考虑去重
        // FIXME: 此时,一个课程可以被多次加入定时任务队列
        this.$set(row, "timeTaskState", "未开始")
        this.$set(row, "timeElapsed", "0")
        this.$set(row, "timeLeft", "0")
        this.$set(row, "istaskFinished", false)
        this.$set(row, "log", "null")
        this.tableDataTimeTask.push(row)
      },
      pullTaskForm(index, row) {
        this.form = this.dialogEmpty()
        this.form = this.getCourseDetail(index, row)
        this.form.row = row
        this.dialog_visible = true
      },
      beginTimeTask() {
        row = this.form.row
        this.createTypeAndCate(row)
        // 选课间隔秒数
        freq = Number(this.form.freq)
        // 定时任务时长秒数
        dur = Number(this.form.dur) * 60
        url = "/course/timeTask/create?clazzId=" + row.teachingClassId + "&selectedType=" + row
          .selectedType + "&selectedCate=" + row.selectedCate + "&freq=" + freq + "&dur=" + dur
        this.$http.get(url)
        this.form.row.timeTaskState = "进行中"
        this.dialog_visible = false

        setInterval(this.reportTimeTask, 1000, row)
      },
      reportTimeTask(row) {
        // this.$message(row.teachingClassId)
        url = "/course/timeTask/report?clazzId=" + row.teachingClassId
        this.$http.get(url).then(function (resp) {
          if (resp.body.state == "success") {
            isRun = resp.body.msg.isThreadRun
            isSuccess = resp.body.msg.isTimeTaskSuccess
            var myDate = new Date()
            row.log = "isRun:" + isRun + ";isSuccess:" + isSuccess + ";更新时间:;" + myDate.getHours() + ":" +
              myDate.getMinutes() + ":" + myDate.getSeconds()
            if (isSuccess) {
              row.istaskFinished = true
              row.timeTaskState = "已结束"
            }
          }
        })
      },
      // IsHaveClass(index, row) {
      //   // selectedStatus 1:选课 4:退课 0:无空位 2:失败
      //   if (row.selectedStatus == "1") {
      //     return true
      //   } else if (row.selectedStatus == "4") {
      //     return false
      //   }
      // },
      deleteTimeTask(index, row) {
        url = "/course/timeTask/report?clazzId=" + row.teachingClassId
        this.$http.get(url).then(function (resp) {
          if (resp.body.state == "success") {
            row.istaskFinished = true
            row.timeTaskState = "已结束"
          } else {
            console.log(resp.body.msg)
          }
        })
      },
      createTypeAndCate(row) {
        row.selectedCate = row.courseCateCode
        switch (row.courseCateCode) {
          case "10":
            // 公必
            row.selectedType = "1"
            break;
          case "30":
            // 公选
            row.selectedType = "4"
            break
          case "11":
            // 专必
            row.selectedType = "1"
            break;
          case "21":
            // 专选
            row.selectedType = "1"
        }
      },
      chooseCourse(index, row, type) {
        // type = "public" or "major"

        // className: "1" == t.crossMajor ? "kzy" : "10" == t.courseCateCode ? "gb" : "30" == t.courseCateCode ? "gx" : "11" == t.courseCateCode ? "zb" : "zx"
        //             , "1" == t.crossMajor ? "跨专业" : t.courseCategoryName)), b.d
        // 选择跨专业课程中,可能是别人的专必专选

        //锁住button
        this.$set(row, "isButtonLoading", true)
        this.createTypeAndCate(row)
        url = "/course/choose?clazzId=" + row.teachingClassId + "&selectedType=" + row.selectedType +
          "&selectedCate=" + row.selectedCate
        this.$http.get(url).then(function (resp) {
          if (resp.body.state == "success") {
            //refresh tableData
            this.getAndSetCourse(type)

            //show feedback message
            this.$notify({
              title: row.courseName,
              message: resp.body.msg
            })
            return true
          } else {
            row.isButtonLoading = false
            this.$notify.error({
              title: row.courseName,
              message: resp.body.msg
            })
            return false
          }
        }).catch(function (e) {
          this.$notify.error({
            title: "ERROR",
            message: e
          })
        })
      },
      cancelCourse(index, row, type) {
        // type = "public" or "major"
        // 处理满人的情况,其实已经处理,这里可以删去
        if (row.courseSelectedNum == row.baseReceiveNum) {
          return
        }
        this.createTypeAndCate(row)
        url = "/course/cancel?clazzId=" + row.teachingClassId + "&selectedType=" + row.selectedType +
          "&courseId=" + row.courseId
        this.$http.get(url).then(function (resp) {
          if (resp.body.state == "success") {
            //refresh tableData
            this.getAndSetCourse(type)

            //show feedback message
            this.$notify({
              title: row.courseName,
              message: resp.body.msg
            })
            return true
          } else {
            row.isButtonLoading = false
            this.$notify.error({
              title: row.courseName,
              message: resp.body.msg
            })
            return false
          }
        })
      },
      getAndSetCourse(t) {
        this.$http.get("/courseList?type=" + t).then(function (resp) {
          console.log(resp)
          if (resp.body.state == "success") {

            if (t == "public")
              this.tableData2 = resp.body.data
            else
              this.tableData1 = resp.body.data
          } else {
            this.$notify({
              title: "Error",
              message: resp.body.msg + " ",
            })
          }
          console.log(resp.body.data)
        }).catch(function (e) {
          this.$notify({
            title: "ERROR",
            message: "getAndSetCourseList " + e.toString()
          })
        })
      }
    },
  })
</script>

<style type="text/css">
  html,
  body {
    height: 100%;

    margin: 0;
  }

  .el-header {
    /* background-color: aqua; */
  }

  /* .el-main {
    padding-left: 10%;
    padding-right: 10%;
  } */

  .el-tabs {
    margin-top: 50px;
  }
</style>