<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="shortcut icon" href="/view/pic/favicon.ico" type="image/x-icon">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>

<body>
  <div id="app" style="height: 100%;">

    <el-dialog :visible.sync="bigImgVisible" title="TeacherImg">
      <el-image :src="bigImgSrc" style="height: 500px;width: 400px;"></el-image>
    </el-dialog>
    <el-dialog :visible.sync="useInfoVisible" title="Attention">
      <p>本系统已删除抢课相关!</p>
      <p>
        本系统现只支持查看老师信息如邮箱照片,当鼠标移到那一行后会自动加载
      </p>
      <p>若加载失败,可能是未录入信息"</p>
      </p>
      <el-divider></el-divider>
      <p>说明: 若被拉黑名单,需要写检查交给自己的教务老师,然后让教务老师联系管选课的李老师移出黑名单</p>
      <p>使用本系统,不会被拉黑名单</p>
      <p>当用户无法选课时,将不会提供课程列表,因为课程列表是通过选课来获取的,而不是可选课程; 此时去访问选课接口的课程列表,有可能被拉黑名单</p>
    </el-dialog>

    <el-container style=" height: 100%; ">
      <el-header style="margin-bottom: 1px;">
        <h1><a @click="clickIndex" href="javascript:void(0);"><img src=""></img></a>
        </h1>
        <el-divider></el-divider>
      </el-header>
      <el-main style="position: relative;">
        <template>
          <el-tabs v-model="activeName" @tab-click="" tab-position="left" style="width: 100%; height:90%; 
            position: absolute; right: 0;margin-top: 20px; padding-bottom: 2px; " >
            <el-tab-pane label="用户管理" name="first">
              <template>
                <p>User: {{ userName }} , {{ userId}} , {{ departmentName }} |
                  专业:{{major}}</p>
                <p>阶段: {{electiveCourseStageName}}</p>
                <el-button @click="useInfoVisible = true">查看使用信息</el-button>
              </template>
            </el-tab-pane>
            <template v-for="it in tableData">
              <el-tab-pane class="test" :label="it.label" :name="it.name"
                style="height: 100%;overflow: auto ;padding-right: 3%;" :disabled="isDisableTab">
                <template>
                  <el-backtop target=".test" :right="120">UP</el-backtop>
                  <el-table @cell-mouse-enter="handleHover" v-loading="it.loading"
                    :data="it.data.filter(data => !it.search || data.courseName.toLowerCase().includes(it.search.toLowerCase()))"
                    style="width: 100%">
                    <el-table-column label="CourseNum" prop="courseNum">
                    </el-table-column>
                    <el-table-column label="CourseName" prop="courseName">
                    </el-table-column>
                    <el-table-column label="TeacherName">
                      <template slot-scope="scope">
                        <el-popover trigger="hover" placement="top">
                          <p>课程负责人: {{scope.row.bossName}} </p>
                          <p>Email:{{scope.row.email}}</p>
                          <p>Age: {{scope.row.age}} </p>
                          <p>bestDegreeName: {{scope.row.bestDegreeName}} </p>
                          <div slot="reference" class="name-wrapper">
                            <el-tag>
                              {{scope.row.teachingTimePlace.split(";")[0]}}</el-tag>
                          </div>
                        </el-popover>
                      </template>
                    </el-table-column>
                    <el-table-column label="Time" width="300px">
                      <template slot-scope="scope">
                        <el-popover trigger="hover" placement="top">
                          <p v-for="it in scope.row.teachingTimePlace.split(',')" style="font-size: 15px;">{{it}}</p>
                          <div slot="reference" class="name-wrapper">
                            <p v-for="it in scope.row.teachingTimePlace.split(',')" style="font-size: 1px;">
                              {{it}}</p>
                          </div>
                        </el-popover>
                      </template>
                    </el-table-column>
                    <el-table-column label="Credit" prop="credit">
                    </el-table-column>
                    <el-table-column label="CourseUnitName" prop="courseUnitName">
                    </el-table-column>
                    <!-- <el-table-column label="ExamFormName" prop="examFormName">
                    </el-table-column> -->
                    <el-table-column label="ScheduleExamTime" prop="scheduleExamTime">
                    </el-table-column>
                    <el-table-column label="Capacity" prop="capacity">
                      <template slot-scope="scope">
                        <el-tag :type="scope.row.courseSelectedNum == scope.row.baseReceiveNum ? 'danger':'success'">
                          {{scope.row.courseSelectedNum}}/{{scope.row.baseReceiveNum}}</el-tag>
                      </template>
                    </el-table-column>
                    <el-table-column label="img">
                      <template slot-scope="scope">
                        <el-image size="mini" :src="typeof(scope.row.imgSrc)=='undefined' ? '' :scope.row.imgSrc "
                          style="width: 50px; height: 60px;cursor:pointer" @click="showBigImg(scope.$index, scope.row)">
                        </el-image>
                      </template>
                    </el-table-column>
                    <el-table-column align="right">
                      <template slot="header" slot-scope="scope">
                        <el-input v-model="it.search" size="mini" placeholder="输入关键字搜索" />
                      </template>
                      <template slot-scope="scope">
                        <el-button size="small" type="danger" :loading="scope.row.isButtonLoading"
                          v-if="scope.row.selectedStatus == '4' "
                          @click="cancelCourse(scope.$index, scope.row,'public')">
                          退课
                        </el-button>
                        <el-button size="small" :loading="scope.row.isButtonLoading"
                          :type="scope.row.courseSelectedNum == scope.row.baseReceiveNum ? 'info' : 'success'"
                          :disabled="scope.row.courseSelectedNum == scope.row.baseReceiveNum ? true:false"
                          @click="chooseCourse(scope.$index, scope.row , 'public')" v-else>选课
                        </el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-tab-pane>
            </template>
          </el-tabs>
        </template>
      </el-main>
    </el-container>
  </div>
</body>

</html>

<script>
  mapName2Idx = {
    "major": 0,
    "public": 1
  }
  new Vue({
    el: "#app",
    data: function () {
      return {
        userName: "Not Login",
        userId: "Not Login",
        departmentName: "Not Login",
        major: "Not Login",
        activeName: 'first',
        dialog_visible: false,
        useInfoVisible: true,
        bigImgVisible: false,
        bigImgSrc: "",
        electiveCourseStageName: "",
        isDisableTab: false,
        form: {
          name: 'fdsa',
          region: 'fdas',
          time1: 'Now',
          time2: '',
          no_time_limit: false,
          type: [],
          resource: '',
          desc: ''
        },
        tableData: [{
            label: "课程列表:专选",
            name: "major",
            loading: true,
            search: '',
            data: []
          },
          {
            label: "课程列表:公选",
            name: "public",
            loading: true,
            search: '',
            data: []
          }
        ],

      }
    },
    created() {

    },
    watch: {
      'activeName': function (val) {
        if (val == "first") return
        this.getAndSetCourse(val)
      },
    },
    mounted() {
      this.getAndSetUserInfo()
      this.selectCourseInfo()
      // moved to watch()
      // this.getAndSetCourse("public")
      // this.getAndSetCourse("major")

    },
    methods: {
      selectCourseInfo() {
        this.$http.get("/course/selectInfo").then(function (resp) {
          if (resp.body.state == "fail") {
            this.$message.error("阶段错误,禁止选课")
            // window.location.replace("/errorPage.html")
            this.electiveCourseStageName = "未知阶段: 不在选课阶段或学费未交或在jwxt黑名单中"
            this.isDisableTab = true
          } else {
            // console.log(resp.body.data.electiveCourseStageName)
            this.electiveCourseStageName = resp.body.data.electiveCourseStageName
          }
        })
      },
      refreshTest() {
        this.$http.get("/course/refreshTest?totalCnt=100")
      },
      handleHover(row, column, cell, event) {
        // this.$message(row.index) // this is ok
        if (row.isLoad == true) return
        else this.getTeacherInfo(row)
      },
      // getTeacherImg(index, row) {
      //   return "/teacherInfo/img?courseNum=" + row.courseNum
      // },
      getTeacherImgWithId(id) {
        return "/teacherInfo/img?id=" + id
      },
      showBigImg(index, row) {
        this.bigImgSrc = this.getTeacherImg(index, row)
        this.bigImgVisible = true
      },
      dialogEmpty() {
        return {
          name: 'fdsa',
          region: 'fdas',
          time1: 'Now',
          time2: '23:59:59',
          no_time_limit: false,
          type: [],
          resource: '',
          desc: ''
        }
      },
      getAndSetUserInfo() {
        this.$http.get("/userInfo").then(function (resp) {
          if (resp.body.state == "fail") {
            this.$message.error(resp.status.toString() + "\t未登录哦!")
            this.$notify({
              title: "1s后跳转"
            })
            setTimeout(() => {
              window.location.replace("/")
            }, 1000)
          }
          this.userName = resp.body.data.name
          this.userId = resp.body.data.id
          this.departmentName = resp.body.data.school
          this.major = resp.body.data.major
          this.$message({
            message: "欢迎你 " + resp.body.data.name,
            type: "success"
          })
        }).catch(function (e) {
          this.$message.error(e + " -_-")
        })
      },
      getCourseDetail(index, row) {
        return {
          name: row.courseName,
          region: 'null',
          time1: 'Now',
          time2: '23:59:59',
          no_time_limit: false,
          type: [],
          resource: '',
          desc: ''
        }
      },
      getTeacherEmail(index, row) {
        this.$http.get("/teacherInfo/email?courseNum=" + row.courseNum).then(function (resp) {
          if (resp.body.state == "success") {
            // console.log(resp.body.data)
            row.email = resp.body.data
            return resp.body.data
          } else {
            row.email = resp.body.msg
            return resp.body.msg
          }
        }).catch(function (e) {
          console.log("Get TeacherEmail:" + e.toString())
        })
      },
      getTeacherInfo(row) {
        row.isLoad = true
        var a = "加载中"
        this.$set(row, "email", a)
        this.$set(row, "age", a)
        this.$set(row, "bossName", a)
        this.$set(row, "bestDegreeName", a)
        this.$set(row, "id", a)
        this.$set(row, "imgSrc", "")
        //注意这个请求是异步的
        this.$http.get("/teacherInfo/all?courseNum=" + row.courseNum).then(function (resp) {
          if (resp.body.state == "success") {
            // console.log(resp.body.data)
            data = resp.body.data
            row.email = data.email
            row.age = data.birthDate
            row.bossName = data.name
            row.bestDegreeName = data.bestDegreeName
            row.id = data.id
            row.imgSrc = this.getTeacherImgWithId(row.id)
          } else {
            str = "不存在"
            row.email = str
            row.age = str
            row.bossName = str
            row.bestDegreeName = str
            row.id = data.str
          }
        }).catch(function (e) {
          console.log("Get TeacherInfo:" + e.toString())
        })
      },
      clickIndex() {
        const h = this.$createElement;

        this.$notify({
          title: 'HelloWorld',
          message: h('i', {
            style: 'color: teal'
          }, 'UnInplement')
        });
      },
      addTimeTask(index, row, type) {
        // TODO :考虑去重
        // FIXME: 此时,一个课程可以被多次加入定时任务队列
        this.$set(row, "timeTaskState", "未开始")
        this.$set(row, "timeElapsed", "0")
        this.$set(row, "timeLeft", "0")
        // this.$set(row, "istaskFinished", false)
        this.$set(row, "log", "null")
        this.tableDataTimeTask.push(row)
      },
      pullTaskForm(index, row) {
        this.form = this.dialogEmpty()
        this.form = this.getCourseDetail(index, row)
        this.form.row = row
        this.dialog_visible = true
      },
      beginTimeTask() {
        row = this.form.row
        this.createTypeAndCate(row)
        // 选课间隔秒数
        freq = Number(this.form.freq)
        // 定时任务时长秒数
        dur = Number(this.form.dur) * 60
        url = "/course/timeTask/create?clazzId=" + row.teachingClassId + "&selectedType=" + row
          .selectedType + "&selectedCate=" + row.selectedCate + "&freq=" + freq + "&dur=" + dur
        this.$http.get(url)
        this.form.row.timeTaskState = "进行中"
        this.dialog_visible = false

        setInterval(this.reportTimeTask, 1000, row)
      },
      reportTimeTask(row) {
        // this.$message(row.teachingClassId)
        url = "/course/timeTask/report?clazzId=" + row.teachingClassId
        this.$http.get(url).then(function (resp) {
          if (resp.body.state == "success") {
            isRun = resp.body.msg.isThreadRun
            isSuccess = resp.body.msg.isTimeTaskSuccess
            var myDate = new Date()
            row.log = "isRun:" + isRun + ";isSuccess:" + isSuccess + ";更新时间:;" + myDate.getHours() + ":" +
              myDate.getMinutes() + ":" + myDate.getSeconds()
            if (isSuccess) {
              // row.istaskFinished = true
              row.timeTaskState = "已结束"
            }
          }
        })
      },
      // IsHaveClass(index, row) {
      //   // selectedStatus 1:选课 4:退课 0:无空位 2:失败
      //   if (row.selectedStatus == "1") {
      //     return true
      //   } else if (row.selectedStatus == "4") {
      //     return false
      //   }
      // },
      deleteTimeTask(index, row) {
        url = "/course/timeTask/report?clazzId=" + row.teachingClassId
        this.$http.get(url).then(function (resp) {
          if (resp.body.state == "success") {
            // row.istaskFinished = true
            row.timeTaskState = "已结束"
          } else {
            console.log(resp.body.msg)
          }
        })
      },
      createTypeAndCate(row) {
        row.selectedCate = row.courseCateCode
        switch (row.courseCateCode) {
          case "10":
            // 公必
            row.selectedType = "1"
            break;
          case "30":
            // 公选
            row.selectedType = "4"
            break
          case "11":
            // 专必
            row.selectedType = "1"
            break;
          case "21":
            // 专选
            row.selectedType = "1"
        }
      },
      chooseCourse(index, row, type) {
        // type = "public" or "major"

        // className: "1" == t.crossMajor ? "kzy" : "10" == t.courseCateCode ? "gb" : "30" == t.courseCateCode ? "gx" : "11" == t.courseCateCode ? "zb" : "zx"
        //             , "1" == t.crossMajor ? "跨专业" : t.courseCategoryName)), b.d
        // 选择跨专业课程中,可能是别人的专必专选

        //锁住button
        this.$set(row, "isButtonLoading", true)
        this.createTypeAndCate(row)
        url = "/course/choose?clazzId=" + row.teachingClassId + "&selectedType=" + row.selectedType +
          "&selectedCate=" + row.selectedCate
        this.$http.get(url).then(function (resp) {
          if (resp.body.state == "success") {
            //refresh tableData
            this.getAndSetCourse(type)

            //show feedback message
            this.$notify({
              title: row.courseName,
              message: resp.body.msg
            })
            return true
          } else {
            row.isButtonLoading = false
            this.$notify.error({
              title: row.courseName,
              message: resp.body.msg
            })
            return false
          }
        }).catch(function (e) {
          this.$notify.error({
            title: "ERROR",
            message: e
          })
        })
      },
      cancelCourse(index, row, type) {
        // type = "public" or "major"
        // 处理满人的情况,其实已经处理,这里可以删去
        if (row.courseSelectedNum == row.baseReceiveNum) {
          return
        }
        this.createTypeAndCate(row)
        url = "/course/cancel?clazzId=" + row.teachingClassId + "&selectedType=" + row.selectedType +
          "&courseId=" + row.courseId
        this.$http.get(url).then(function (resp) {
          if (resp.body.state == "success") {
            //refresh tableData
            this.getAndSetCourse(type)

            //show feedback message
            this.$notify({
              title: row.courseName,
              message: resp.body.msg
            })
            return true
          } else {
            row.isButtonLoading = false
            this.$notify.error({
              title: row.courseName,
              message: resp.body.msg
            })
            return false
          }
        })
      },
      getAndSetCourse(t) {
        console.log("in getandsetcourse", t)
        this.$http.get("/courseList?type=" + t).then(function (resp) {
          console.log(resp)
          if (resp.body.state == "success") {
            idx = mapName2Idx[t]
            this.tableData[idx].data = resp.body.data
            this.tableData[idx].loading = false
            if (resp.body.data == []) {
              this.$message("空课程列表:未到选课时间或未交学费")
            }
          } else {
            this.$notify({
              title: "Error",
              message: resp.body.msg + " ",
            })
          }
          console.log(resp.body.data)
        }).catch(function (e) {
          this.$notify({
            title: "ERROR",
            message: "getAndSetCourseList " + e.toString()
          })
        })
      }
    },
  })
</script>

<style type="text/css">
  html,
  body {
    height: 100%;

    margin: 0;
  }

  .el-header {
    /* background-color: aqua; */
  }

  /* .el-main {
    padding-left: 10%;
    padding-right: 10%;
  } */

  .el-tabs {
    margin-top: 50px;
  }
</style>