<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="shortcut icon" href="/view/pic/favicon.ico?refreash" type="image/x-icon">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>


<body style="width: 100%;height: 100%;">
  <div id="app" style="width: 100%;height: 100%;">
    <el-button @click="form={username:'',password:'',captcha:''} ;dialogFormVisible = true"
      style="width:fit-content;height:fit-content;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto auto; background-color: rgba(31, 29, 29, 0.4)"
      type="info" plain>点击登陆
    </el-button>
    <el-dialog title="登陆" :visible.sync="dialogFormVisible" v-loading.sync="dialogLoading">
      <el-form :model="form" @submit.prevent="login">
        <el-form-item label="用户名" :label-width="formLabelWidth">
          <el-input v-model="form.username" autocomplete="off" style="width: 90%;" clearable></el-input>
        </el-form-item>
        <el-form-item label="密码" :label-width="formLabelWidth">
          <el-input v-model="form.password" autocomplete="off" style="width: 90%;" show-password></el-input>
        </el-form-item>

        <el-form-item>
          <el-input placeholder="captcha" v-model="form.captcha" style="width: 30%; float:left;left:16.5%">
            <el-image slot="append" :src="captchaURL" style="width: 75px;">
            </el-image>>
          </el-input>
          <div style="float:right;margin-right: 8.5%;">
            <el-button @click="dialogFormVisible = false;">取 消</el-button>
            <el-button type="submit" @click="login">确 定</el-button>
          </div>
        </el-form-item>
      </el-form>

    </el-dialog>
  </div>
</body>

</html>

<script>
  new Vue({
    el: "#app",
    data() {
      return {
        captchaURL: "/view/pic/captcha.jpg?refresh",
        dialogFormVisible: true,
        dialogLoading: false,
        form: {
          username: '',
          password: '',
          captcha: ''
        },
        formLabelWidth: '120px'
      };
    },
    methods: {
      login() {
        var formData = JSON.stringify(this.form)
        // this.$message(formData);
        this.$http.post("/", formData).then(function (resp) {
          var json_str = JSON.stringify(resp.body)
          var data = JSON.parse(json_str)
          this.$notify({
            title: "Response",
            message: data.msg
          });
          if (data.state == "success") {
            this.$message("登陆成功!\n正在跳转...");
            window.location.replace("/index")
          }

        }).catch(function (e) {
          this.$notify({
            title: "ERROR",
            message: e + "服务器故障! 请稍后重试"
          });
        });

        this.dialogLoading = true;
        setTimeout(() => {
          this.dialogLoading = false;
        }, 1000);

      }
    }
  })
</script>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(/view/pic/background2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
</style>